<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Dashboard</title>
	</head>

	<body>
		 
		<h1>Astor</h1>
		<h3>Semáforo</h3>

		<button id="red" class="btn-semaforo">Rojo</button>
		<button id="yellow" class="btn-semaforo">Amarillo</button>
		<button id="green" class="btn-semaforo">Verde</button>

		<br><br><br><br><br><br>
		<form action="/dashboard" method="post" id="form-ardu">
			<input name="action" value="color" type="hidden" />
			<input type="color" id="colorPicker" name="value" />
			<button>Send</button>
		</form>
	</body>
	<style>
		h1,h2,h3{
			text-align: center;
		}
		.btn-semaforo{
			background: white;
    color: #0a0a0a;;
    border: 3px solid;
    border-radius: 3px;
    padding: 20px 30px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
		}
		#red{
			border-color: red;
			background-color: red;
		}
		#yellow{
			border-color: yellow;
			background-color: yellow;
		}
		#green{
			border-color: green;
			background-color: green;
		}
	</style>

	<script>

		function sendColor(color){

			let data = { action: 'color', value: color };

			fetch('/dashboard', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
			})
				.then((response) => {
					if (response.ok) {
						return response.json();
					}
					throw new Error('Error en la solicitud POST');
				})
				.then((data) => {
					console.log('Respuesta del servidor:', data);
				})
				.catch((error) => {
					console.error('Error:', error);
				});

		}

		const green = document.getElementById('green');
		green.onclick = ()=>{

			sendColor("#00ff00")
			 
		}
		const red = document.getElementById('red');
		red.onclick = ()=>{
			sendColor("#ff0000")			 
		}

		const yellow = document.getElementById('yellow');
		yellow.onclick = ()=>{
			sendColor("#ffff00")			 
		}



		const form = document.getElementById('form-ardu');

		form.addEventListener('submit',(event)=>{
			event.preventDefault()
			const formData = new FormData(form);
			console.log(JSON.stringify(formData))

		});


		// Obtener referencia al elemento de entrada de color
		const colorPicker = document.getElementById('colorPicker');

		// Escuchar el evento 'input' para detectar cambios en el color seleccionado
		colorPicker.addEventListener('input', function (event) {
			const selectedColor = event.target.value;
			console.log('Color seleccionado:', selectedColor);

			let data = { action: 'color', value: selectedColor };

			fetch('/dashboard', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
			})
				.then((response) => {
					if (response.ok) {
						return response.json();
					}
					throw new Error('Error en la solicitud POST');
				})
				.then((data) => {
					console.log('Respuesta del servidor:', data);
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		});
	</script>
</html>
