<html>
	<head>
		<title>Dashboard</title>
	</head>

	<body>
		Dashboard!!

		<form action="/dashboard" method="post" id="form-ardu">
			<input name="action" value="color" type="hidden" />
			<input type="color" id="colorPicker" name="value" />
			<button>Send</button>
		</form>

		<button id="red">Rojo</button>
		<button id="yellow">Amarillo</button>
		<button id="green">Verde</button>
	</body>

	<script>

		function sendColor(color){

			let data = { action: 'color', value: color };

			fetch('/dashboard', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
			})
				.then((response) => {
					if (response.ok) {
						return response.json();
					}
					throw new Error('Error en la solicitud POST');
				})
				.then((data) => {
					console.log('Respuesta del servidor:', data);
				})
				.catch((error) => {
					console.error('Error:', error);
				});

		}

		const green = document.getElementById('green');
		green.onclick = ()=>{

			sendColor("#00ff00")
			 
		}


		const form = document.getElementById('form-ardu');

		form.addEventListener('submit',(event)=>{
			event.preventDefault()
			const formData = new FormData(form);
			console.log(JSON.stringify(formData))

		});


		// Obtener referencia al elemento de entrada de color
		const colorPicker = document.getElementById('colorPicker');

		// Escuchar el evento 'input' para detectar cambios en el color seleccionado
		colorPicker.addEventListener('input', function (event) {
			const selectedColor = event.target.value;
			console.log('Color seleccionado:', selectedColor);

			let data = { action: 'color', value: selectedColor };

			fetch('/dashboard', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
			})
				.then((response) => {
					if (response.ok) {
						return response.json();
					}
					throw new Error('Error en la solicitud POST');
				})
				.then((data) => {
					console.log('Respuesta del servidor:', data);
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		});
	</script>
</html>
